.contenu {
	display : block;
	margin : 0 auto;
	width : 980px;
	border : solid black 1px;
	text-align: center;
	min-height: 500px;
}

nav {
	position : fixed;
	width : 100%;
	padding-left : 10px;
	padding-right : 10px;
	padding: 10px 0;
	background-color: #5E5C5A;
	z-index : 1;
}

.lecontenu {
	margin-top : 80px;
}
.min500 {
	min-height: 500px;
}
footer {
	background-color: #5E5C5A;
	color : white;
	padding: 10px 0;
}

ul{
	list-style:none;
	padding: 0;
	margin: 0;
}

.btn-connect {
	margin: 5px;
}

.body-container {
	margin-top : 50px;
}

.menu {
	min-height: 500px;
}
.menu_gauche {
	position : relative;
	padding-top: 15px;
	background-color: #D4CFC5;
	/*border-bottom-right-radius: 33px;*/
}
.menu_droite {
	padding-top : 15px;
	background-color: #D4CFC5;
	/*border-bottom-left-radius: 33px;*/
}
.titre_footer {
	text-align : center;
	font-size: 20px;
	color : white;
	font-style: bold;
}

.social {
	background: #428bca;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.social:hover {
	background: #357ebd;
}
.social a {
	padding: 10px;
	display: block;
}